<!--
  Generated template for the TeamDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Results</h1>
  <ion-refresher (ionRefresh)="refreshAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Games Before:</ion-label>
        <ion-toggle [(ngModel)]="useDateFilter" (ionChange)="dateChanged()"></ion-toggle>
        <ion-datetime displayFormat="M/D/YYYY" pickerFormat="M/D/YYYY" [(ngModel)]="dateFilter" (ionChange)="dateChanged()" [(disabled)]="!useDateFilter"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let game of games" (click)="gameClicked($event, game)">
      <ion-row>
        <ion-col col-auto>
          <p>{{game.time | date:'M/d/yy'}}</p>
          <p>{{game.time | date:'shortTime'}}</p>
        </ion-col>
        <ion-col col-auto>
          <p>{{game.team1}}
            <b>({{game.team1Score}})</b>
            <b>
              <ion-badge *ngIf="game.team1Score > game.team2Score" ion-badge color="secondary" item-end>W</ion-badge>
              <ion-badge *ngIf="game.team1Score < game.team2Score" ion-badge class="badge-md-danger">L</ion-badge>
              <ion-badge *ngIf="game.team1Score === game.team2Score" ion-badge class="badge-md-warning">D</ion-badge>
            </b>
            <br> VS
            <br> {{game.team2}}
            <b>({{game.team2Score}})</b>
            <b>
                <ion-badge *ngIf="game.team1Score < game.team2Score" ion-badge color="secondary">W</ion-badge>
                <ion-badge *ngIf="game.team1Score > game.team2Score" ion-badge class="badge-md-danger">L</ion-badge>
                <ion-badge *ngIf="game.team1Score === game.team2Score" ion-badge class="badge-md-warning">D</ion-badge>
              </b>
          </p>
          <p>At: {{game.location}}</p>
        </ion-col>
        <!--  <ion-col width-20>
        <h4>{{game.scoreDisplay}}</h4> -->
        <!-- <ion-badge ion-badge color="primary" [class]="getScoreDisplayBadge(game)">{{getScoreWorL(game)}}</ion-badge>
        </ion-col> -->
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>