<ion-header class="bar-energized">

  <ion-navbar color="primary" class="bar-energized">
    <ion-title>Teams</ion-title>
  </ion-navbar>
<ion-toolbar>
  <ion-searchbar placeholder="Search" (ionInput)="searchTeam($event)" ngModule="searchTerm"></ion-searchbar>
</ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- <ion-searchbar (ionInput)="searchTeam($event)" ngModule="searchTerm"></ion-searchbar> -->
  <ion-list>
    <ion-item-group *ngFor="let division of teams">
      <ion-item-divider color="secondary">{{division.divisionName}}</ion-item-divider>
      <button ion-item *ngFor="let team of division.divisionTeams" (click)="itemTapped($event, team)">
        <ion-icon name="football" item-start large></ion-icon> {{team.name}}
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>