<ion-header color="primary">
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
        <ion-title>Diskie 99</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
        <ion-title>My Teams</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="!favorites">
        <ion-card-header class="my-teams-header" >No Followed Teams
            <ion-icon name="people"></ion-icon>
        </ion-card-header>
        <ion-card-content>
            <p>You are currently not following any teams<br> Go to teams and choose a team you would like to follow</p>
            <button ion-button color="primary" (click)="goToTeams()" outline>
                    <ion-icon name="search"></ion-icon>
                    Teams 
                    </button>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="favorites">
        <ion-list>
            <ion-list-header class="my-teams-header">Followed Teams
                <ion-icon name="people"></ion-icon>
            </ion-list-header>
            <button ion-item *ngFor="let item of favorites" (click)="favoriteTapped($event, item)">
                        <ion-icon name="star"></ion-icon>
                            {{item.team.name}}
                    </button>
        </ion-list>
        <ion-card-content>
            <p>To follow more teams, select a tournament, then you can follow teams from their team page.
            </p>
            <button ion-button color="primary" (click)="goToTeams()" outline>
                            <ion-icon name="search"></ion-icon>
                            Teams 
                            </button> </ion-card-content>
    </ion-card>
</ion-content>