<ion-menu [content]="content" >
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>Navigate</ion-list-header>
      <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</button> -->
      <button (click)="goHome()" color="primary" menuClose ion-item >Home</button>
      <button (click)="goToTeams()" color="primary" menuClose ion-item >Go To Teams</button>
  </ion-list>
  <ion-list-header>Favorites</ion-list-header>
  <button menuClose ion-item *ngFor="let fav of favoriteTeams" (click)="goToTeam(fav)">
    {{fav.team.name}}
  </button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>